.conditions {
	padding: 99px 0 122px 0;

	&__icons {
		display: flex;
		justify-content: space-around;
	}

	&__icon {
		text-align: center
	}

	&__image {
		height: 64px;
		display: flex;
		justify-content: center;
		align-items:center;
	}

	&__title {
		margin-top: 44px;
		color: $black;
		font-family: 'Din Regular';
		text-transform: uppercase;
		line-height: 1.3rem;
	}

}