.conditions {
	padding: 40px 0;

	&__icons {
		display: flex;
		justify-content: space-around;
	}

	&__icon {
		text-align: center
	}

	&__title {
		margin-top: 10px;
		color: $black;
		font-family: 'Din Regular';
		text-transform: uppercase;
		line-height: 1rem;
	}

}