$darkgold: #907d4e;
$lightgold: #b59638;
$grey: #494949;
$darkgrey: #282828;
$lightgrey: #cecece;
$orange: #eca847;
$green: #4fce91;
$pink: #fb4e5a;
$blue: #70abd8;
$black: #000000;
$white: #ffffff;