.heading {
	color: $black;
	font-family: 'Din Cond Bold';
	text-transform: uppercase;
	font-size: 36px;
	padding: 0;
    margin: 0;

	&_white {
		color: $white;
	}

	&_lowercase {
		text-transform: inherit;
		color: $white;
	}
}